[alias]
        st = status
        s = status -uno
        ci = commit -m
        c = commit -m
        di = diff -b
        co = checkout
        a = add

        #adding only files already tracked
        at = add -u

        #adding new files, files already tracked, and remove files from index that are no longer in the working tree
        aa = add --all

        #adding new files and files already tracked
        ant = add .

        # log
        log = log --decorate --graph --date=short
        l = log
        changes = log --pretty=format:\"%h %cr %cn %Cgreen%s%Creset\" --name-status
        lgp = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
        lgpl = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
        short = log --pretty=format:\"%h %cr %cn %Cgreen%s%Creset\"
        changelog = log --pretty=format:\" * %s\"
        shortnocolor = log --pretty=format:\"%h %cr %cn %s\"
        stsh = stash list --pretty=format:'%Cblue%gd%Cred: %C(yellow)%s'q
        history = log --graph --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(white)- %an, %ar%Creset'
        lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
        lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
        lg = !"git lg1"
        lg3 = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
        up = checkout
        hgrevert = checkout HEAD
        strip = reset --hard
        branches = branch -a
        rollback = reset --soft HEAD^

        fork-from-master = "!f(){ git checkout master && git branch $1 && git checkout $1; };f"
        br = branch
        cp = cherry-pick
        cps = cherry-pick -s
        slog = log --pretty=oneline --abbrev-commit
        glog = log --graph --decorate --pretty=oneline --abbrev-commit
        gloga = log --graph --decorate --pretty=oneline --abbrev-commit --all
        unci = reset HEAD^
        uncommit = reset HEAD^
        ls = ls-files
        out = "!f() { git log origin/$1..$1 };f"
        last = diff HEAD^

